#!/usr/bin/make -f

export DH_OPTIONS
export DH_VERBOSE=1

%:
	dh $@ -v --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_EXAMPLES=OFF -DCMAKE_BUILD_TYPE=Release -DADS_VERSION="4.2.0"
